<%= flash[:notice] %>


<div id="new_flight">
	<h1>Complete the form to be notified if a flight meets your criteria</h1>
	<%= form_for @flight, url: {action: "create"}, html: {id: "create_flight"} do |f| %>
	  <%= f.text_field :beginning_airport, placeholder: "Origin airport" %><br>
	  <%= f.text_field :ending_airport, placeholder: "Destination (click map)" %><br>
	  <%= f.number_field :price, placeholder: "Price cap" %><br>
	  <% unless current_user %>
	  	<%= f.fields_for :user do |ff| %>
	  		<%= ff.text_field :phone_number, placeholder: "Mobile number" %><br>
	  	<% end %>
	  <% end %><br>
	  <%= f.submit :id => "submit", :value => "Off You Go!!" %>
	<% end %>
	<div id="vmap" style="width: 50%; height: 400px;"></div>
</div>

<div id="demo"></div>