<%= flash[:notice] %>

<div id="new_flight">
	<h1>Fill in the form below to find a flight</h1>
	<%= form_for @flight, url: {action: "create"}, html: {id: "create_flight"} do |f| %>
	  <%= f.text_field :beginning_airport, placeholder: "Origin" %><br>
	  <%= f.text_field :ending_airport, placeholder: "Destination" %><br>
	  When the search should stop: 
	  <%= f.date_field :search_end %><br>
	  <%= f.label :price %>
	  <%= f.number_field :price %>
	  <%= f.submit :id => "submit" %>
	<% end %>

	<div id="vmap" style="width: 50%; height: 400px;"></div>
</div>