<h1>Dodo flights</h1>
<%= flash[:notice] %>
<%= form_for @flight, url: {action: "create"}, html: {class: "create_flight"} do |f| %>
  <%= f.text_field :beginning_airport %><br>
  <%= f.text_field :ending_airport %><br>
  <%= f.date_field :search_end %><br>
  <%= f.label :price %>
  <%= f.number_field :price %>
  <%= f.submit :id => "submit" %>
<% end %>

	<!-- javascript for slider bar below is in trips.js -->
	<div id="mapslider" >	
	<p>
		<label for="amount">Price Range:</label>
		<input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
	</p>
	<div id="slider-range"></div>
	<!-- end of code for slider bar -->
	<div id="vmap" style="width: 90%; height: 700px;"></div>
	</div>
